{% extends 'base.html' %}

{% block content %}
Beemer Boys is your one-stop-shop for your latest and greatest roadster BMW motorcyles. We use the Stripe API to connect our transactions in a safe and secure manner allowing you to buy your motorcyle with peace of mind. Our easy to navigate interface provides the customer with an organized and efficient method to view all of our models.

The concept is the result of the collective minds of Garrett, Tirapat, Praveen and Craig. We hope you enjoy your visit.

{% endblock %}