{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <title>Beemer Boys</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
  <link rel="stylesheet" type="text/css" href="../static/script/main.js">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/form.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/modelinfo.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/models.css' %}">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <span><a class="bb-logo" href="{% url 'landing' %}">BEEMER BOYS</a></span>
    <ul class='header'>
      {% if user.is_authenticated %}
        <li><a class="nav-link" href="{% url 'about' %}">ABOUT</a></li>
        <li><a class="nav-link" href="{% url 'models' %}">MODELS</a></li>
        <li><a class="nav-link" href="{% url 'logout' %}">LOGOUT</a></li>
      {% else %}
        <li><a class="nav-link" href="{% url 'about' %}">ABOUT</a></li>
        <li><a class="nav-link" href="{% url 'models' %}">MODELS</a></li>
        <li><a class="nav-link" href="{% url 'login' %}">SIGN IN</a></li>
        <li><a class="nav-link" href="{% url 'register' %}">REGISTER</a></li>
      {% endif %}
    </ul>
  </header>
{% block content %}
{% endblock %}
  <footer class='footer'>
    <ul class='footer'>
      <li>&copy; 2018 Garrett, Praveen, Tirapat, Craig</li>
      <li><i class="fab fa-github"></i></li>
    </ul>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</body>
</html>