<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <title>Beemer Boys</title>
  <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
  <link rel="stylesheet" type="text/css" href="../static/script/main.js">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<body>
  <div>
    <header>
    <ul class='header'>
      <li id="logo">BEEMER BOYS</li>
      <li>-ABOUT</li>
      <li>MODELS</li>
      <li>SIGN IN</li>
    </ul>
    </header>
  </div>
  </header>
    <section class="hero">
      <div id="slideshow">
        <img src="../static/images/HERO1.jpg" class="bgM"/>
        <img src="../static/images/HERO2.jpg" class="bgM"/>
        <img src="../static/images/HERO3.jpg" class="bgM"/>
        <img src="../static/images/HERO4.jpg" class="bgM"/>
        <img src="../static/images/HERO5.jpg" class="bgM"/>
        <img src="../static/images/HERO6.jpg" class="bgM"/>
        <img src="../static/images/HERO7.jpg" class="bgM"/>
        <img src="../static/images/HERO8.jpg" class="bgM"/>
      </div>
      <div id="wrap">
      ...your content here
      </div>
    </section>
<div>
  <footer>
    <ul class='footer'>
      <li>&copy; 2018 Garrett, Praveen, Tirapat, Craig</li>
      <li><i class="fab fa-github"></i></li>
    </ul>
  </footer>
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</body>
</html>