<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <title>Beemer Boys</title>
  <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
  <link rel="stylesheet" type="text/css" href="../static/script/main.js">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <span class="bb-logo">BEEMER BOYS</span>
    <ul class='header'>
      <li>ABOUT</li>
      <li>MODELS</li>
      <li>SIGN IN</li>
    </ul>
  </header>

  <section class="hero">
    <div id="slideshow"></div>
    <p>Words</p>
  </section>

  <footer>
    <ul class='footer'>
      <li>&copy; 2018 Garrett, Praveen, Tirapat, Craig</li>
      <li><i class="fab fa-github"></i></li>
    </ul>
  </footer>

<script>
  $(document).ready(function() {
    var slidesArr = [
      "../static/images/HERO1.jpg",
      "../static/images/HERO2.jpg",
      "../static/images/HERO4.jpg",
      "../static/images/HERO5.jpg",
      "../static/images/HERO6.jpg",
      "../static/images/HERO7.jpg",
      "../static/images/HERO8.jpg"
    ];

    console.log(slidesArr)

    //Init slide 1
    slideTo(slidesArr[0]);

    var slideIndex = 0;
    var slideTime = animate();

    $('#slideshow').click(function() {
      //Reset the interval to 0 and start it again
      clearInterval(slideTime);
      slideTime = animate();


      var selectedIndex = $(this).index();
      var slide = slidesArr[selectedIndex];
      slideTo(slide);

    });

    function slideTo(slide) {
      $('#slideshow').css("background-image", `url(${slide})`)
    }

    function animate() {
      return setInterval(function() {
                var slide = slidesArr[slideIndex];
                slideTo(slide)
                slideIndex++;
                if (slideIndex == slidesArr.length) {
                  slideIndex = 0; 
                }
            }, 5000);
    }

  });
</script>

</body>
</html>