{% extends 'base.html' %}

{% block content %}


  <h2> {{ motorcycle.name }} </h2>
  <p> {{ motorcycle.description }} </p>
  <h3> ${{ motorcycle.price}} </h3>
  <img src="{{ motorcycle.img.url }}" alt="Model Image">
<form action="{% url 'charge' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="price" value="{{ motorcycle.price }}">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_oWcgMJxoTjtnsREeFyHNiuOd"
          data-description="Motorcycle Charge"
          data-amount="{{ motorcycle.price }}"
          data-locale="auto">
  </script>
</form>

{% endblock %}

