{% extends 'base.html' %}
{% load humanize %}

{% block content %}

  <div class='models-container'>
    <h2 class='model'>Roadster</h2>
    <div class='models-row'>
      
      {% for motorcycle in motorcycles %}
        
        <div class="gallery-item">
          <a href="#">
          <img src="{{ motorcycle.img.url }}" alt="Cinque Terre" width="300" height="180">
          </a>
          <div class="name-div">
            <h2 class="name">{{ motorcycle.name }}</h2>
          </div>
          <div class="price-div">
            <h3 class="price">${{ motorcycle.price|intcomma }}</h3>
          </div>
          
          <a href="{% url 'model info' motorcycle_id=motorcycle.id %}">Go to page</a>
        </div>

      {% endfor %}

    </div>
  </div>

{% endblock %}
