{% extends 'base.html' %}

{% block content %}

<section>
<div class='card'>
<ul class="responsive_grid">
  <li>
    <div class="team_member">
       <div class="info">
         <img src="https://www.team-bhp.com/forum/attachments/vintage-cars-classics-india/324072d1270615399-bmw-classic-motorcycles-navroze.jpg" alt=""/>
      </div>
      <div class="info_reveal">
        <h6>Models<br/>BMW ...</h6>
        <p><a href="mailto:address@addresss.com">BMW@bmw.com</a></p>
        <p>Price: $ 40000</p>
      </div>
    </div>
  </li>
</ul>
</div>
</section>
  
{% endblock %}
 