{% extends 'base.html' %}

{% block content %}

 <!-- <script src="https://js.stripe.com/v3/"></script> -->

<!-- <form action="/charge" method="post" id="payment-form">
  {% csrf_token %}
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      A Stripe Element will be inserted here.
    </div>

   -- Used to display Element errors.
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Submit Payment</button>
</form>

 <script type="text/javascript" <href="../scripts/payment.js">></script>
 --> 

<!-- <h2>Buy for $5.00</h2> -->

<!-- <form action="{% url 'charge' %}" method="post">
  {% csrf_token %}
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_oWcgMJxoTjtnsREeFyHNiuOd"
          data-description="Motorcycle Charge"
          data-amount="{{ motorcycle.price}}"
          data-locale="auto">
            
  </script>
</form> -->
<!-- <script>
// document.getElementById("button").addEventListener("click", function() {
//   handler.open({
//     // image: '/square-image.png',
//     // name: 'Demo Site',
//     // description: '2 widgets',
//     // amount: 2000
//   });
// });
</script> -->
{% endblock content %}